.admin-table{
    width: 100%;
    text-align: center;
}

tr.header{
    border: 2px #000 dotted;
}

.header > td{
    border: 2px #000 dotted;
}

.text-accept{
    color: #A1E44D;
}

.text-accept:hover{
    color: #90D33E;
}

.category-select{
    width: 25%;

    font-size: larger;
}

.events{
    padding: 3%;
}