.input-field{
    width: 25%;
    margin: 1%;
    padding: 1%;
    border-radius: 2%;
    font-size: 100%;
}

.form-submit{
    width: 30%;
    padding: 1%;
    font-size: 100%;
}

.form{
    padding: 2%;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4);
}

.button-accept{
    color: #000;
    background-color: #A1E44D;
    border: 2px solid #000;
    border-radius: 3px;
    font-size: 100%;
}

.button-accept:hover{
    background-color: #B2F55E;
}

.button-danger{
    color: #000;
    background-color: #DF2935;
    border: 2px solid #000;
    border-radius: 3px;
    font-size: 100%;
}

.button-danger:hover{
    background-color: #EF3A46;
}

.align-center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}