.friends-activity{
    display: flex;
}

.profile-options{
    display: flex;
    justify-content: center;
    margin: 2% 0;
}

.button-styled-link:hover{
    color: #ddd;
}

.warning-background{
    background-color: #0b86be;
}

.add-book{
    width: 100%;
    text-align: center;
    padding: 2%;
}