

.button-grouped{
    width: 10%;
    padding: 1em
}


.centered-content > .result-book{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.centered-content > .result-book > .bookInfo{
    width: 40%;
}   

.books > .result-book{
    width: 80%;
    margin: 2%;
    padding: 2%;
}

.books > .result-book > .bookInfo{
    width: 100%;
    padding: 0 5%;
    margin: 0 5%;
}

